.sidebar {
  margin: 0;
  padding: 0;
  width: 200px;
  background-color: #f1f1f1;
  position: fixed;
  height: 100%;
  overflow: auto;
  box-shadow: 0px 5px 5px;
}

.sidebar a {
  display: block;
  color: #252733;
  padding: 16px;
  text-decoration: none;
  transition: 0.3s;
}

.sidebar a:hover {
  background-color: #252733;
  color: white;
}

a {
  font-size: 17px;
}

div.content {
  margin-left: 200px;
  padding: 1px 16px;
  height: 1000px;
}

@media screen and (max-width: 700px) {
  .sidebar {
    width: 100%;
    height: auto;
    position: relative;
    box-shadow: 0px 0px 5px;
  }
  .sidebar a {float: left;}
  div.content {margin-left: 0;}
}

@media screen and (max-width: 400px) {
  .sidebar a {
    text-align: center;
    float: none;
  }
}

table {
  cursor: pointer;
}

span {
  font-size: 50px;
}

canvas {
  margin: auto;
  width: 300px !important;
  height: 300px !important;

}
